<% include ../partials/header %>

<div class="container pt-5">
    <div class="row color">
        <div id='balance' class="col m-3">
            <div class="col p-0">
                <h2 class='border-bottom border-dark pb-2'><%= currentUser.username %></h2>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>User ID</h5>
                </div>
                <div class="col-md-12 col-lg-6 font-italic">
                    <p><%= currentUser._id %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h6>Total Balance (CAD)</h5>
                </div>
                <div class="col-6">
                    <p>$<%= balanceCAD %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h6>Total Balance (USD)</h5>
                </div>
                <div class="col-6">
                    <p>$<%= balanceUSD %></p>
                </div>
            </div>

            <h5 class='mt-3' id='userList'>List of Users</h5>
            <div id='userListScroll' class="col p-0">
                <% var x = 0 %>
                <% allUsers.forEach(function(user){ %>
                    <div class="row mb-2">
                        <div class="col-12 col-xl-6 font-weight-bold">
                            <%= user.username %>
                        </div>
                        <div class="col-10 col-xl-5 font-italic">
                            <p id='allIDs' class='copyID<%=x%> m-0 border-0'><%= user._id %></p>
                        </div>
                        <div class="col-1 col-xl-1">
                            <i data-clipboard-target=".copyID<%=x%>" class="fa fa-copy btnClip"></i>
                        </div>
                    </div>
                    <% x += 1 %>
                <% }); %>
            </div>
        </div>

        <div id='transactionHistory' class="col-md-6 mr-3">
            <h2 class='text-center m-3 pb-2 border-bottom border-dark'>Transaction History</h2>
   
            <div class="spacing">
                <div class="justify-content-middle">
                        <% var i = 0 %>
                    <% userTransaction.forEach(function(transaction){ %>
                        <% if(transaction.to == currentUser._id) { %>
                            <div class="row positive">
                                <div class="col-5">
                                    <p class="font-weight-bold font-italic m-2">+ $<%= transaction.amount%> <%= transaction.currency %></p>
                                </div>
                                <div class="col-2 text-center">
                                    <span class='toggleSize' data-toggle='collapse' data-target='#showTransaction<%=i%>' role='button' aria-expanded="false" aria-controls='showTransaction'>
                                        <a href='#'><i class="showInfo fas fa-plus"></i></a>
                                    </span>
                                </div>
                                <div class="col-5 text-right">
                                    <p class='m-2'><%= transaction.date %></p>
                                </div>
                            </div>
                                
                        <% } else { %>
                            <div class="row negative">
                                <div class="col-5">
                                    <p class="font-weight-bold font-italic p-0 m-2">- $<%= transaction.amount %> <%= transaction.currency %></p>
                                </div>
                                <div class="col-2 text-center">
                                    <span class='toggleSize' data-toggle='collapse' data-target='#showTransaction<%=i%>' role='button' aria-expanded="false" aria-controls='showTransaction'>
                                        <a href='#'><i class="showInfo fas fa-plus"></i></a>
                                    </span>
                                </div>
                                <div class="col-5 text-right">
                                    <p class='p-0 m-2'><%= transaction.date %></p>
                                </div>
                            </div>        
                        <% } %>
        
                        <!-- Ability to pull down more information  ADD FEATURE-->

                        <div class='collapse' id='showTransaction<%=i%>'>
                            <p class='text-center letterSpacing mt-2'>Transaction Information</p>
                            <div class="row">
                                <% if(transaction.from != currentUser._id) { %>
                                    <div class="col-md-6">
                                        <p class='font-weight-bold'>From</p>
                                    </div>
                                    <div class="col-md-6 text-left text-md-right">
                                        <p><%= transaction.from %></p>
                                    </div>   
                                <% } else { %>
                                    <div class="col-md-6">
                                        <p class='font-weight-bold'>To</p>
                                    </div>
                                    <div class="col-md-6 text-left text-md-right">
                                        <p><%= transaction.to %></p>
                                    </div>    
                                <% } %>
                            </div>
        
                        <div class="row">
                            <div class="col-md-2">
                                <p class='font-weight-bold'>Notes</p>
                            </div>
                            <div class="col-md-10 text-left text-md-right">
                                <p class='font-weight-light font-italic'><%= transaction.notes %></p>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-1 colorBottom">
                                <p class='font-weight-bold'>Date</p>
                            </div>
                            <div class="col-md-11 text-left text-md-right">
                                <p><%= transaction.fullDate %></p>
                            </div>
                        </div>
                        <% if(transaction.to == currentUser._id) { %>
                            <div class="row positiveLast pb-2"></div>      
                        <% } else { %>
                            <div class="row negativeLast pb-2"></div>
                        <% } %>
                    </div>
                    <% i += 1 %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div class="color row p-4">
        <div id='payment' class="col text-right">
            <a href='/account/transaction' class='btn btn-md btn-dark'>Make a Payment</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS('.btnClip');
</script>



<% include ../partials/footer %>



