<% include ../partials/header %>

<h1>Make a transaction</h1>

<div class="container">
<form action="/account" method="POST">
    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            <span><i class="fas fa-dollar-sign"></i></span>
            <input id='amount' class='text-center border-0' type="number" name="amount" placeholder="40" required>
            <input id='currency' class='text-center border-0' type="text" name="currency" placeholder="CAD" required>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-2">
            <p id='date' class='text-right border-0'><%= new Date().toLocaleString().split(',')[0] %></p>
            <input type="text" name="date" value='<%= new Date().toLocaleString().split(',')[0] %>' hidden>
        </div>
        <div class="col"></div>
    </div>

    <div class="row mb-3">
        <div class="col"></div>
        <div class="col-md-4">
            <input id='to' class='p-1 border-0 text-left' type="text" name="to" placeholder='Users ID' required>
        </div>
        <div class="col"></div>
    </div>

    <div class="row ">
        <div class="col"></div>
        <div class="col-md-4 ">
            <input id="notes" class='p-1 border-0' type="text" maxlength="60" name="notes" placeholder="Add a Note!">
        </div>
        <div class="col"></div>
    </div>
    <div class="row text-right mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <input id='createTransaction' class='btn btn-md btn-warning' type="submit" value="Make Payment">
        </div>
        <div class="col-md-4"></div>
    </div>
    
    <input type="hidden" name="from" value='<%= currentUser._id %>''>
    <input type="hidden" name="fullDate" value= '<%= new Date() %>'>
</form>
</div>
















    <!-- <form action="/account" method="POST">
        <input type="number" name="amount" placeholder="amount" required>
        <input type="text" name="currency" placeholder="currency" required>
        <input type="text" name="date" value='<%= new Date().toLocaleString().split(',')[0] %>' readonly>
        <input type="text" name="to" placeholder='receiver' required>
        <input type="text" maxlength="60" name="notes" placeholder="notes">

        <input type="hidden" name="from" value='<%= currentUser._id %>''>
        <input type="hidden" name="fullDate" value= '<%= new Date() %>'>

        <input type="submit" value="Add">
    </form> -->

    <%= allUsers[0].username %>
    <%= allUsers[0]._id %>

    <% include ../partials/footer %>